body {
  width: 1450px;
  margin: 0 auto;
  background-color: #0b2f3a;
  padding: 0;
  border: 3px solid #086a87;
}

#header{
    width: 100%;
    height: 110px;
    background: #0b2f3a;
}

#header #centro{
    width: 1325px; 
    heigth: auto; overflow: hidden;
    float: left;
}

#header #centro #logo{
    width: 700px; border: 1px solid;
    heigth: 800px; overflow: hidden;
    float: left;
}

#header #centro #logo h2, p{
    color: #fff;
}

#header #centro #logo p{
    margin-top:-5px;
}

#header #menu {
    width: 490px;
    height: auto;
    overflow: auto;
    float: right;

}

#header #menu {
    width: 580px;
    height: auto;
    overflow: hidden;
    float: right;
    text-align: rigth;
  
}
#header #menu ul li a{
    display: inline-block;
}
#header #menu ul li a{
   color: #04b4ae;
   text-decoration: none;
   padding: 8px 10px;
   margin: 0px 5px;
}
#header #menu ul li a:hover{
    background: #0a2a29;
}
#presentacion{
    width: 100%;
    heigth: auto; overflow: hidden;
    background: #064154;   
}
#presentacion #centro1{
    width: 800px;
    float: left;
    margin: auto;
}
#presentacion #centro1 #izquierda{
    widh: 290px;
    float: left;
}
#presentacion #centro1 #izquierda h2{
    color: #fff;
    font-weight: left;
}
.descripcion-pres{
    color: #04b4ae;
}
#presentacion #centro1 #derecha{
    width: 490px;
    height: auto; float: right;
}

.img {
    width: 470px;
    border: 3px solid #088a85; 
    margin: 0px 0px;
    float: right;
}
.dos ul li {
    list-style: none;  
}

.dos ul li a{
    text-decoration: none;
    color: #ccc;
    display: block;
    float: right;
    background-color: #086a87;
    padding: 10px;
}
#contenidos{
    background: #000000;
    width: 100%;
    height: auto; overflow: hidden;
}
#contenidos #centro2{
    width: 800px;
    margin: auto; border: 1px solid; 
    height: auto; overflow: hidden;
}
#contenidos #centro2 #izquierda{
    width: 390px;
    height: auto; overflow: hidden;
    border: 0px solid;
    float: left;
}
#contenidos #centro2 #izquierda h3{
    color: #fff; 
}
#contenidos #centro2 #izquierda .descripcion{
    text-align: left; color: #6e6e6e;
}
.img-servicios{
    width: 120px; height: 100px; display: inline-block;
    padding: 2px; border: 1px solid #ccc;
}
#contenidos #centro2 #derecha{
    width: 390px;
    height: auto; overflow: hidden;
    border: 1px solid;
    float: right;
}
#contenidos #centro2 #derecha h3{
    text-align: left;
    font-size: 22px;
    color: #fff;
}
#contenidos #centro2 #derecha article{
    width: 100%;
    height: auto; overflow: hidden;
    margin-top:-20px;
    margin-bottom: 20px;
 
}
#contenidos #centro2 #derecha article h4{
    text-align: left;font-size: 15px;
    
}
#contenidos #centro2 #derecha article p{
    color: #fff;text-align: left;
    margin-top: -22px;
}
.leer-mas{
   padding: 4px 10px;
   background: #086a87;
   text-decoration: none;
   float: left;
   border-radius: 5px;
   color: #fff; border: 0;
}
#pie{
    width: 100%;
    height: 90px;
    background: #0b2f3a;
}
#pie #centro-pie{
    width: 800px;
    height: auto; overflow: hidden;
}
body {
    background-color: #086a87;
    font-family: Arial;
}

#main-container{
    margin: 200px auto;
    width: 800px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #246355;
    border-bottom: solid 4px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

img.derecha {
    float: right;
}

a{
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: white;
    background-color: #333;
    margin: 5px
}
b{
    
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: white;
    background-color: #333;
    margin: 5px
}

/*body {
    background-color: #086a87;
    font-family: Arial;
}

#main-container{
    margin: 200px auto;
    width: 800px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #246355;
    border-bottom: solid 4px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

img.derecha {
    float: right;
}

a{
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: white;
    background-color: #333;
    margin: 5px
}
b{
    
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: white;
    background-color: #333;
    margin: 5px
}
/*----presentacion*/
/*#presentacion{
    width: 100%;
    heigth: auto; overflow: hidden;
    background: #064154;   
}
#presentacion #centro1{
    width: 800 px;
    margin: auto;
}
#presentacion #centro1 #izquierda{
    widh: 290px;
    border: px solid;
    float: left;
}
#presentacion #centro1 #derecha{
    width: 490px;
    height: auto; float:right;
}
.img {
    width: 470px;
    height: 180px;
    border: 3px solid #088a85; 
    margin: 20px 0px;
    float: right;
}
/*-----contenidos----*/
/*#contenidos{
    background: #f2f2f2;
    width: 100%;
    height: auto; overflow: hidden;
}
#contenidos #centro2{
    width: 800px;
    margin: auto; border: 1px solid; height: auto; overflow: hidden;
}
#contenidos #centro2 #izquierda{
    width: 390px;
    height: auto; overflow: hidden;
    border: 1px solid;
    float: left;
}
#contenidos #centro2 #izquierda h3{
    color: #0b615e; 
}
#contenidos #centro2 #izquierda .descripcion{
    text-align: left; color: #6e6e6e;
}
.img-servicios{
    width: 100px; height: 70px; display: inline-block;
    padding: 2px; border: 1px
}
#contenidos #centro2 #derecha{
    width: 390 px;
    height: auto; overflow: hidden;
    border: 1px solid;
    float: right;
}
#contenidos #centro2 #derecha h3{
    text-align: left;
    font-size: 22px;
    color: #0b615e;
}
#contenidos #centro2 #derecha article{
    width: 100%;
    height: auto; overflow: hidden;
    margin-top: -20px;
}
#contenidos #centro2 #derecha article{
    text-align: left;font-size: 15px;
    
}
#contenidos #centro2 #derecha article p{
    color: #6e6e6e;text-align: left;
    margin-top: -22px;
}
.leer-mas{
   padding: 4px 10px;
   background: #086a87;
   text-decoration: none;
   float: left;
   border-radius: 5px;
   color: #fff; border: 0;
}
#pie{
    width: 100%;
    height: 90px;
    background: #0b2f3a;
}
#pie #centro-pie{
    width: 800 px;
    height: auto; overflow: hidden;
}*/